* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #e6e8e0;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#parent { 
    width: 100%;
    max-width: 600px;
}

.btn {
    color: rgb(0, 14, 14);
    margin-left: 10px;
}

.card {
    background: linear-gradient(180deg, #ffdd57, #ff9f43);
    padding: 1.5rem;
    border: 2px solid #e63946;
    border-radius: 1rem; 
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin: 20px auto;
    cursor: pointer; 
}
